.wrapper{
  background-color: #fff;
  padding: 2.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover h4{
    color: #a06900;
  }
}

.title{
  margin-left: 2rem;
  font-weight: 300;
  font-size: 1.4rem;
  color: #999;
}

.formWrapper{
  background-color: #fff;
  padding: 6rem 7rem;
  text-align: center;
  font-size: 1.6rem;
}
.textField{
  width: 100%;
  margin: auto;
  background-color: #fff;
  // font-size: 1.6rem;
  & label{
    font-size: 1.5rem;
  }
  & textarea{
    font-size: 1.5rem;
    margin-top: 1rem;
    line-height: 2.5rem;
  }
}

.buttonWrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}