@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');


.container {
    padding: 10px 30px;
    width: 100%;

    @media (max-width: 480px) {
      padding: 0px;
      width: 84%
    }
  }




  
  .event{
    line-height: 1.6;
    padding: 20px 30px;

    background: #ebecf0;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    height: 250px;

    overflow: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
    
    // border-right: 1px dotted #666;
    // background: rgb(255, 255, 255);
    // border-right: 25px solid #6660;
    
  //  &:first-child {
  //   border-right: 25px solid #6660;
  //  }

  //  @media (max-width: 400px) {
  //   border-right: -6px solid #6660 !important;
  //  }

  //  @media ( min-width:400px) and (max-width: 480px) {
  //   border-right: 0px solid #6660 !important;
  //  }

  }


  .date{  
    color: #f86d72;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Merriweather', serif;
  }

  .title{
    font-size: 22px;
    margin-top: 7px;
    margin-bottom: 13px;
    text-transform: capitalize;
    font-family: 'Merriweather', serif;
    color: #2b2b2b
  }

  .post{
    margin: 0 0 12px;
    font-size: 15px;
    color: #666;
    padding-right:24px
}
  