.sidebar {
  // background-color: #f7f7f7;
  background-color: #ebecf0;
  height: 100vh;
  max-width: 45rem;
  overflow: hidden;
  position: fixed;
  box-shadow: inset 2px 2px 5px #FFF, inset -5px -5px 10px #BABECC;

}
.logoWrapper {
  text-align: center;
}
.logo {
  transform: translateX(-20px);
  height: 65px;
  padding-top: 3px
}
.profileWrapper {
  padding-top: 2.5rem;
}
.profilePicHolder{
  width: 17rem !important;
  height: 17rem !important;
  background: #FFB979;
  border-radius: 50%;
  border: 1px solid;

  display: grid;
  justify-content: center;
  align-items: center
}
.profileAvatar {
  width: 16rem !important;
  height: 16rem !important;
  border: 1px solid
}
.infoWrapper {
  padding: 2rem 3rem;
  // margin: 0 auto;
  margin: 20px auto 0px;
  border-radius: 14px;
  box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
  width: 80% !important
}
.infoIcon {
  width: 4rem !important;
  height: 4rem !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.menuWrapper {
  margin: 0 auto;
  padding: 4rem;
}
.menuTitles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10.5rem;
  width: 10.5rem;
  border-radius: 1rem;
  margin: auto;
  transition: background 1s 0s ease;
  box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
  &:hover {
    // background-color: #4d7cfe;
    background-color: #0d236d;
    color: #fff;
    font-weight: 300;
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
  }
}
.menuTitles_active{
  // background-color: #4d7cfe !important;
  // color: #fff;
  border: 2px solid #0d236d;
  font-weight: 300;
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

