.hero{
  padding: 3rem 6rem;   
  display: flex;
  justify-content: space-between;
  width: 100%
}

.title{
  font-size: 5rem;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 1rem;
}

.subtitle{
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 2.5rem;
  line-height: 3.5rem;
  color: #777;
  margin-bottom: 3rem;

}

.button{
  background-color: #fff;
  border: none;
  font-size: 2rem;
  padding: 2rem 7rem;
  border: 2px solid #555;
  border-radius: 5rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

.image{
  height: 30rem;
}