.hero{
  display: flex;
  justify-content: space-between;
  // background-color: #f7f7f7; 
  background-color: #ebecf0; 
  width: 100%;
  padding: 3rem 12rem;
}

.content{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title{
  font-size: 5rem;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 1rem;
}

.subtitle{
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 2.5rem;
  line-height: 3.5rem;
  color: #777;
  margin-bottom: 3rem;

}

.button{
  // background-color: #fff;
  border: none;
  font-size: 2rem;
  padding: 2rem 3rem;
  // border: 2px solid #555;
  border-radius: 5rem;
  font-family: 'Nunito', sans-serif;
  width: 25rem;

  background: #ebecf0;
  border: 1px solid;
  font-weight: 600;
  cursor: pointer;
  color: #0d236d;
  box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
    
  }
  
  &:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
    
  }
}

.image{
  height: 35rem;
}