*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #555;
}

a{
  text-decoration: none;
  color: #555;
}

ul{
  list-style: none;
}

.layout-main{
  width: 100%;
  background-color: #eee;
}