*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #555;
}

button:focus{
  outline: none;
}

a {
  text-decoration: none;
  color: #555;
}

ul {
  list-style: none;
}

.layout-main {
  width: 100%;
  /* background-color: #eee; */
  background-color: #ebecf0;
  padding: 2rem;
  margin-left: 45rem;
  min-height: 100vh;
}
.page-heading-wrapper{
  /* width: 30rem; */
  display: inline-block;
}
.page-heading-wrapper::after{
  content: '';
  display: inline-block;
  height: 4px;
  width: 50%;
  background-color: #ff8c0f;
  transform: translateY(-5px);
}
.page-heading {
  display: block;
  padding: 1.2rem 5rem;
  color: #0d236d;
  text-align: center;
  background: #ebecf0;
  border-top-right-radius: 20rem;
  border-bottom-right-radius: 20rem;
  font-size: 2.5rem;
  /* letter-spacing: 2px; */
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
              -9px -9px 16px rgba(255, 255, 255, 0.5), 
              inset 3px 3px 7px rgba(136, 165, 191, 0.48), 
              inset -3px -3px 7px #FFFFFF;
}